<footer>
    <div id="" class="footer-area <%= footer_fade_in_h %>">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12 <%= footer_nested_box_fade_in %>">
                    <div class="footer-content">
                        <div class="footer-head">
                            <div class="footer-logo">
                                <img src="<%= asset_path('saving_on_more_2.png')%>" alt="" title="" style="width: 140px">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Move the information section to the left -->
                <div class="col-md-4 col-sm-4 col-xs-12 <%= footer_nested_box_fade_in %>">
                    <div class="footer-content">
                        <div class="footer-head">
                            <h4>information</h4>
                            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>  -->
                            <div class="footer-contacts">
                                <p><span>Tel:</span> (469) 123-4564</p>
                                <p><span>Email:</span> info@random.com</p>
                                <p><span>Working Hours:</span> 10am-4pm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Move the map column to the right -->
                <div class="col-md-4 col-sm-4 col-xs-12 <%= footer_nested_box_fade_in %>">
                    <div class="footer-content">
                        <div class="footer-head">
                           <div class="col-md-12 col-sm-12 col-xs-12">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3355.706022695551!2d-96.86633298480354!3d32.929850880933564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x864ea45c5f8894fb%3A0x9a1a5c420501c9f6!2s4545%20Spring%20Valley%20Rd%2C%20Farmers%20Branch%2C%20TX%2075244%2C%20USA!5e0!3m2!1sen!2sca!4v1670218453928!5m2!1sen!2sca" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="<%= footer_nested_box_fade_in %>">
            <div class="header-bar-color <%= footer_nested_box_fade_in %>">
                <div class="copyright text-center">
                    <p>2023 Copyright .All Rights Reserved</p>
                </div>
                <div class="credits">
                    Designed by <a target="_blank" href="https://anmolt.netlify.app/">Anmol Tyagi</a>
                </div>
            </div>
        </div>
    </div>
</footer>
